.component-container {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
}

.component-container:nth-child(even) {
  background-color: rgb(233, 233, 233);
}

.single-cocktail {
  display: inline-block;
  width: 200px;
  margin: 12px 8px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.cocktail-name {
  margin: 10px 0;
  font-size: 20px;
}

.single-cocktail button {
  margin: 10px 10px;
}

.edit-liquor-form {
  border: 1px solid black;
  margin: 20px 30px;
  width: 600px;
  padding-top: 30px;
  border-radius: 10px;
}

/* input[type='text'],
input[type='number'] {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.form-control {
  margin-bottom: 20px;
  margin-left: 20px;
}

.response-messages {
  margin-left: 40px;
}

.delete-btn {
  color: red;
}
